.main-container {
  position: relative;
  text-align: center;
  color: black;
}
.main-logo {
  display: block;
  padding-top: 15%;
  margin: 0 auto;
}
.main-ele-logo-dot {
  color: #d93728;
  font-size: 3rem;
}

@media (max-width: 767px) {
  .main-container {
    position: fixed;
    top: 20vh;
    text-align: center;
    color: black;
  }
}
