.pdf {
  height: 792px;
  width: 612px;
  padding: none;
  background-color: white;
  box-shadow: 5px 5px 5px black;
  margin: auto;
  border: 1px solid orange;
}

.pdf-container {
  position: relative;
  width: 75vw;
  padding: 0.5rem;
  border-left: 1px solid #eee;
  overflow: auto;
}

.pdf-law-head {
  text-align: center;
}
.pdf-law-head-info {
  color: rgb(36, 138, 179);
}

.pdf-title {
  color: #161694;
}

.pdf-article-title {
  display: inline;
  color: #161694;
  padding-left: 0.5rem;
}

span[class*='context'] {
  padding-bottom: 1rem;
  display: block;
}

.pdf-date {
  color: rgb(36, 138, 179);
}
