.pdf-btn-wrapper {
  padding-left: 85rem;
}
.pdf-btn {
  background-color: #008cba; /* Green */
  border: 1px solid #008cba;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.pdf-btn:hover {
  background-color: white;
  border: 1px solid #008cba;
  color: #008cba;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
