.footer {
  clear: both;
  position: relative;
  z-index: 1; 
  height: -3em; 
  margin-top: 5em;
}

.footer-copyright {
  padding-top: 1.3rem;
  color: grey;
  background-color: #efefef;
}

.footer-links-term {
  text-decoration: none;
  color: grey !important;
}

.footer-links-policy {
  margin-left: 1rem;
  text-decoration: none;
  color: grey !important;
}