.main-container {
  position: relative;
  top: 10vh;
  text-align: center;
  z-index: 1;
}

.main-logo {
  display: block;
  width: 20rem;
  padding-top: 10rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

/* 모바일 대응 */
@media (max-width: 767px) {
  .main-logo {
    display: block;
    width: 20rem;
    padding-top: 10rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
