.pagination {
  text-align: center;
  font-size: 1.3em;
}

.pager-first {
  margin-left: 0.7rem;
  border-radius: 4px;
  padding: 0.2rem;
  font-size: 1.1rem;
}
.pager-previous {
  padding: 0.2rem;
  margin-left: 0.2rem;
  border-radius: 4px;
  font-size: 1.1rem;
}
.pager-numbers {
  margin-left: 0.7rem;
  padding: 0.4rem;
  border-radius: 4px;
}
.pager-numbers:hover {
  background-color: lightslategray;
  color: white;
}

.pager-next {
  margin-left: 0.7rem;
  padding: 0.2rem;
  border-radius: 4px;
  font-size: 1.1rem;
}
.pager-end {
  padding: 0.2rem;
  margin-left: 0.2rem;
  border-radius: 4px;
  font-size: 1.1rem;
}
