body {
  font-family: 'Nanum Gothic', sans-serif;
}

.search-container {
  text-align: center;
  margin: 30px auto;
  width: 100%;
}
.search-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  /* left: 50%; */
}
.search-title {
  font-size: x-large;
  padding: 10px 0;
  color: #444;
}
.search-Input {
  width: 10rem;
  height: 3rem;
}

.search-form {
  position: relative;
  display: inline;
}

.search-Term input {
  padding: 10px 0;
  font-size: large;
  padding-left: 1rem;
  width: 20rem;
  height: 3rem;
  color: #444;
  box-sizing: border-box;
  border: 1px solid lightgrey;
}
.search-date input {
  padding: 10px 0;
  padding-left: 1rem;
  font-size: large;
  width: 18rem;
  height: 3rem;
  color: #444;
  box-sizing: border-box;
  border: 1px solid lightgrey;
}
.search-date {
  margin-left: 0.1rem;
}

.searchbar-btn {
  margin-left: 2rem;
  background-color: powderblue;
  border: none;
  border-radius: 0.3rem;
  height: 3rem;
  width: 5rem;
  padding-bottom: 3px;
}

.valid-error {
  font-size: medium;
  color: red;
}
