.viewpage-container {
  position: relative;
  block-size: auto;
  bottom: 5vh;
  top: 10vh;
  overflow: hidden;
}

ins {
  background-color: yellow;
  text-decoration: none;
}

.viewpage-sideinfo-container {
  position: fixed;
  width: 15vw;
  padding: 1rem;
  font-weight: 700;
  border-style: solid;
}

.viewpage-maininfo-container {
  position: relative;
  left: 20vw;
  width: 75vw;
  margin-bottom: 7vh;
  padding: 1rem;
  padding-left: 1.5rem;
  border-left: 1px solid #eee;
  overflow: auto;
}

.viewpage-law-head {
  text-align: center;
}
.viewpage-law-head-info {
  color: rgb(36, 138, 179);
}

.viewpage-title {
  color: #161694;
}

.viewpage-article-title {
  display: inline;
  color: #161694;
  padding-left: 0.5rem;
}

.viewpage-buttons-pan {
  background-color: #4caf50;
  border: 1px solid #4caf50;
  color: white;
  border-radius: 4px;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.viewpage-buttons-pan:hover {
  background-color: white;
  color: #4caf50;
}

.viewpage-buttons-yeon {
  background-color: #008cba;
  border: 1px solid #008cba;
  color: white;
  border-radius: 4px;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.viewpage-buttons-yeon:hover {
  background-color: white;
  color: #008cba;
}

.viewpage-buttons-hang {
  background-color: #f44336;
  border-radius: 4px;
  border: 1px solid #f44336;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.viewpage-buttons-hang:hover {
  background-color: white;
  color: #f44336;
}

.viewpage-buttons-gyu {
  background-color: #555555;
  border: 1px solid #555555;
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.viewpage-buttons-gyu:hover {
  background-color: white;
  color: #555555;
}

/*span[class*='context'] {
  padding-bottom: 1rem;
  display: block;
}*/

.clause-wrapper {
  display: inline;
  position: relative;
}
.clause-context {
  padding-bottom: 1rem;
}

.sub-context {
  padding-bottom: 1rem;
}

.item-context {
  padding-bottom: 1rem;
  color: blue;
}

a {
  text-decoration: none;
  color: inherit;
}

.viewpage-date {
  color: rgb(36, 138, 179);
}
